.bread-imformation {
    padding: 0;
}
#galley-image{
    flex:1;
    margin-bottom: 1rem;
}
.bread-name {
    font-family: 'OTFPro1';
    font-weight: bold;
    color: #BD8A00;
    font-size: 2rem;
    margin : 1rem 0;
    margin-bottom: 1rem;
}
.bread-description {
    color: black;
    font-size: 1rem;
    font-family: 'OTFPro2';
    border-bottom: 1px solid rgba(0,0,0,1);
    padding-bottom: 1rem;
    font-family: 'preten-Medium';
    line-height: 1.5;
}
.bread-price {
    color: black;
    font-size: 22pt;
    margin-top: 0.2rem;
    font-family: 'OTFPro2';
    font-weight: bold;
    color: #BD8A00;
    border-top: 1px solid rgba(0,0,0,1);
    padding-top: 0.5rem;
}
.bread-detail {
    display: flex;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.9);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.detail-left-border {
    width: 25%;
    border-right: 1px solid gray;
}
.detail-left {
    width: 100%;
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
}
.detail-right {
    width: 70%;
    padding-top:1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.detail-left-font {
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'OTFPro2';
    font-size: 11pt;
    padding: 0.1rem;
}
.detail-right-font {
    margin-bottom: 1rem;
    font-family: 'OTFPro2';
    font-size: 11pt;
}
.detail-border {
    border-top: 1px solid gray;
    margin-top: 0.2rem;
}