
.image-bread {
    width: 100%;
    position: relative;
}
.image-bread img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1/1;
}
.gallery-nav {
    position: absolute;
    top: 80%;
    left: 47%;
    border: 1px solid rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.65);
    width: fit-content;
}

@font-face {
    font-family: 'preten-Bold';
    src: url('../../font/public/static/Pretendard-Bold.otf');
}

@font-face {
    font-family: 'preten-Medium';
    src: url('../../font/public/static/Pretendard-Medium.otf');
}

@font-face {
    font-family: 'preten-SemiBold';
    src: url('../../font/public/static/Pretendard-SemiBold.otf');
}

@font-face {
    font-family: 'OTFPro1';
    src: url('../../font/OTF/Pro/BareunDotumOTFPro1.otf');
}

@font-face {
    font-family: 'OTFPro2';
    src: url('../../font/OTF/Pro/BareunDotumOTFPro2.otf');
}